.album {
    width: 230px;
    height: 230px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(3, 122, 77);
    margin:10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;

    span {
        margin: 0 auto;
    }

    &:hover {
        background-color: rgba(9, 110, 63, 0.4);
        transform: scale(1.03);
    }
}