
.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: rgba(9, 110, 63, 0.5);
    opacity: 0.6;
    width: 20%;
    min-height:100vh;
    overflow: auto;
    padding: 10px;

    .sidebar_list_container{
  
    }
    
  }
